.addNewContact, .contactTitle {
  display: flex;
  justify-content:center
}
.addNewContact:hover {
  cursor: pointer;
}

.newContactForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.newContactForm input{
  text-align: center;
}

.addbutton2 {
position: fixed;
margin-left: 230px;
margin-top: 230px;
}